.section-header {
	padding-left: 15px;
	padding-right: 25px;
	position: relative;
	background-color: #e1dcc5;
}

.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	margin: 0;
	width: 200px;
}

.input {
  padding: 12px 16;
  font-size: 12px;
  background-color: #efeff7;
  border: 1px solid transparent;
  border-radius: 2px;
  color: "gray";
}

@media (max-width: 649px) {	
	.header-wrapper {
		flex-direction: column;
	}

	/* .section-books {
		padding: 10px;
	}

	.book-brief-info > div {
		max-width: 270px;
	} */
}
