.search-bar-wrapper {
  position: relative;
  display: inline-block;

  width: 373px;
}

.search-bar {
  display: flex;
  border-radius: 10px;
  border: none;

  transition: 0.2s;
}

.search-bar-input {
  height: 43px;
  width: 300px;
  padding-left: 25px;

  border-radius: 10px 0 0 10px;
  background-color: #eff0f3;
  border: 1px solid #eff0f3;

  font-size: 16px;
}

.search-bar:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px #eff0f3;
}

.search-bar-btn {
  border: 1px solid #eff0f3;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}

.search-bar-input--active,
.search-bar-btn--active {
  border-top: 1px solid #cfd2da;
  border-left: 1px solid #cfd2da;
}

.search-bar-input--active {
  border-radius: 10px 0 0 0;
}

.search-bar-btn--active {
  border-radius: 0 10px 0 0;
}

.dropList {
  position: absolute;
  width: 373px;

}

.dropList li {
  display: flex;
  padding: 10px 25px;
  height: 74px;
	cursor: pointer;
  z-index: 1;

  border-top: 1px solid #d4d7df;
  border-right: 1px solid #cfd2da;
  border-left: 1px solid #cfd2da;
  background-color: #eff0f3;
}

.dropList li:last-child {
  border-bottom: 1px solid #cfd2da;
  border-radius: 0 0 10px 10px;
}

.dropList li div {
  overflow: hidden;
  padding: 5px;
}

@media (max-width: 649px) {	
	.search-bar-wrapper {
		margin-top: 15px;
	}
}

@media (min-width: 320px) and (max-width: 425px) {	
	.search-bar-wrapper {
		max-width: 320px;
	}
	
	.search-bar {
		margin-right: 0;
		justify-content: center;
	}

	.search-bar-input {
		max-width: 220px;
	}
}