.section-books {
	padding-top: 40px;
	background-color: #fff;
}

/* .books-wrapper {} */

.book-brief-info {
	display: flex;
	width: 700px;
	padding: 25px 40px 25px 25px;
	margin: 20px 10px;
	
	border-radius: 25px;
	background-color: #f0f0f3;
	cursor: pointer;

	transition: .75s;
}

.book-brief-info:hover {
	border-radius: 25px;
	background-color: #f0f0f3;
	box-shadow: 5px 5px 10px #d3d3d6,
		-5px -5px 10px #fff;
}

.book-brief-info > div {
	max-width: 460px;
}

/* .book-cover {} */
