.section-books {
	padding: 35px 40px;
	background-color: #fff;
}

.book-brief-info {
	display: flex;
	max-width: 700px;
	padding: 25px 40px 25px 25px;
	margin: 20px 10px;
	
	border-radius: 25px;
	background-color: #f0f0f3;
	cursor: pointer;

	transition: all .75s;
}

.book-brief-info:hover {
	border-radius: 25px;
	background-color: #f0f0f3;
	box-shadow: 5px 5px 10px #d3d3d6,
		-5px -5px 10px #fff;
}

.book-brief-info > div {
	max-width: 460px;
}

.books-loader {
	padding: 40px;
}

@media (min-width: 769px) and (max-width: 1024px) {
	.section-books {
		padding: 45px 60px;
	}

	.book-brief-info {
		max-width: 630px;
	}

	.book-brief-info > div {
		max-width: 400px;
	}
}

@media 	(max-width: 768px) {	
	.section-books {
		padding: 25px;
	}

	.book-brief-info {
		max-width: 630px;
		margin-right: 20px;
	}

	.book-brief-info > div {
		max-width: 405px;
	}
}

@media (min-width: 650px) and (max-width: 700px) {	
	.book-brief-info > div {
		max-width: 360px;
	}
}

@media (min-width: 500px) and (max-width: 649px) {
	.book-brief-info > div {
		max-width: 290px;
	}
}

@media (min-width: 426px) and (max-width: 499px) {	
	html {
		font-size: 14px;
	}

	.book-cover_m {
		max-height: 160px;
		width: 100px;
	}

	.book-brief-info > div {
		max-width: 200px;
	}
}

@media (min-width: 320px) and (max-width: 425px) {	
	.book-brief-info {
		padding: 40px 30px;
		justify-content: center;
	}

	.book-brief-info > div {
		position: absolute;
		opacity: 0;
	}

	.books {
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}

	.book-brief-info {
		max-width: 300px;
	}

	.book-cover_m {
		margin-right: 0;
		width: 190px;
	}
}
